@import "second.css";
@import "simplebar.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

.cart{
	position: relative;
	padding: 40px 20px;
	color: var(--dark-color);
	font-weight: var(--font-semi);

}

.buybutton{
	display: inline-block;
	background-color: red;
	color: var(--white-color);
	padding: 1rem;
	font-size: var(--small-font-size);
	font-weight: var(--font-semi);
	transition: .3s;
}


.button{
	display: inline-block;
	background-color: red;
	color: var(--white-color);
	padding: 1rem;
	font-size: var(--small-font-size);
	font-weight: var(--font-semi);
	transition: .3s;
}
.cart:hover{
	background-color: gray;
	transition: .3s;
	display: inline-block;
}

.cart.active:hover{
	background-color: gray;
	cursor: pointer;
}

.cart_quintiti{
	position: absolute;
	right: 2px;
	top: 50px;
	color: white;
	transform: translateY(-50%);
	background-color: red;
	border-radius: 100%;
	padding: 2px;
	min-height: 16px;
	min-width: 16px;
	display: inline-flex;
	justify-content: center;
	font-size: 12px;
	line-height: 1;

}
.cart-content{
	cursor: default;
	position: absolute;
	right: 0;
	top: 100%;
	background-color: white;
	box-shadow: 0px 4px 4px rgba(135, 135, 135, 8.25);
	width: 290px;
	opacity: 8;
	visibility: hidden;
	transition: opacity 0.3s, visibility 0.3s;

	}
.cart.active:hover .cart-content{
	opacity: 1;
	visibility: visible;
	transition: opacity 0.3s, visibility 0.3s;

}
.content{

	padding-top: 90px;

}

.cart-content__list{

	max-height: 800px;

}

.cart-product {
	display: flex;
	align-items: center;
	padding: 12px 20px;
	transition: background-color 0.3s;
}

.cart-product:hover{
	background-color: rgba(169, 169, 169, 1);


}

.cart-product__img{
	max-width: 100px;
	max-height: 100px;
	oblect-fit: cover;
	margin-right: 20px;
}

.cart-product__title{
	max-width: 280px;
	margin-bottom: -4px;
	font-style: bold;
	font-size: 14px;
	line-height: 28px;
	color: var(--dark-color);
	margin-right: 25px;
}

.cart-product__price{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 20px;
	line-height: 23px;
	color: var(--dark-color);


}
.cart-product__delete{
	cursor: pointer;
    padding: 0px;
		transform: rotate(
		45deg
		);
    font-size: 31px;
    display: flex;
    border: 0px;
    background: 0;
    margin-left: 15px;
    -webkit-writing-mode: vertical-lr;
		position: absolute;
    right: 11px;
}
.cart-product__delete:hover{
transition: 0.2s;
color: red;
}

.cart-content__bottom{
	padding: 24px 20px;
	display:flex;
	align-items: center;
	justify-content: space-between;
}

.cart-content_fullprice{
	display: flex;
	flex-direction: column;
	font-weight: 400;
	font-size: 14px;
	line-height: 28px;
	color: var(--dark-color)

}

.fullprice{
	margin-top: 5px;
	font-family: 'Roboto' , sans-serif;
	font-weight: 700;
	font-size: 20px;
	line-height: 25px;
	color: var(--dark-color)

}

.cart-content__btn{
	width: 246px;
	text-align: center;


}
